<template>
  <div class="hello container">
       <div class="card" v-for="smoothie in smoothies" :key="smoothie.id">
    <div class="card-content">
      <i class="material-icons delete" @click="deleteSmoothie(smoothie.id)">delete</i>
      <h2 class="indigo-text">{{ smoothie.title}}</h2>
      <ul class="ingredients">
        <li v-for="(ing, index) in smoothie.ingredients" :key="index">
          <span class="chip">{{ ing }}</span>
        </li>

      </ul>
  </div>
   <span class="btn-floating btn-large halfway-fab purple">
        <router-link :to="{name: 'EditSmoothie', params: {smoothie_slug: smoothie.slug}} ">
          <i class="material-icons edit">edit</i>
        </router-link>
      </span>
  </div>
  </div>
</template>

<script>
import firebaseDB from '@/firebase/init'

export default {
  name: 'HelloWorld',
  data () {
    return {
      smoothies: []
    }
  },
  methods: {
    deleteSmoothie (id) {
      // Delete doc from firestore
      firebaseDB.collection('smoothies').doc(id).delete()
        .then(() => {
          this.smoothies = this.smoothies.filter(smoothie => {
            // eslint-disable-next-line eqeqeq
            return smoothie.id != id
          })
        })
    }
  },
  created () {
    // fetch data from firestore
    firebaseDB.collection('smoothies').get().then(snapshot => {
      snapshot.forEach(doc => {
        let smoothie = doc.data()
        smoothie.id = doc.id
        this.smoothies.push(smoothie)
      })
    })
  }
}
</script>
<style>
 .hello {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 30px;
   margin-top: 60px;
 }
 .hello h2 {
        font-size: 1.8em;
        text-align: center;
        margin-top: 0;
    }

    .hello .ingredients li {
        display: inline-block;
    }
 .hello .delete {
        position: absolute;
        top: 4px;
        right: 4px;
        cursor: pointer;
        color: #a42aaa;
        font-size: 1.4em;
    }
</style>
